domain                    = "library.rikuka.dev"
ssh_allowed_cidr          = "YOUR_IP/32"
key_name                  = "celsus-key"
postgres_password         = "CHANGE_ME"
auth_google_client_id     = "xxx.apps.googleusercontent.com"
auth_google_client_secret = "GOCSPX-xxx"
github_token              = "ghp_xxx"
